/* Header */
.App-logoLifeSync {
    height: 30px;
    margin-right: 20px;
    margin-top: 5px;
}

.header {
    background-color: #241B2F;
    height: 1vw + 30px;
    color: #D9D9D9;
    display: flex;
    justify-content: space-between; /* Alterado para espaço entre os itens */
    position: relative; /* Adicionado */
    padding: 10px;
}

.headerLogo{
    float: left;
    width: 95%;
    align-items: center;
    text-align: center;
    font-size:xx-large;
}

.dropbtn{
    height: 30px;
    position: absolute; /* Adicionado */
    top: 50%; /* Ajustado conforme necessário */
    right: 10px; /* Ajustado conforme necessário */
    transform: translateY(-50%); /* Para centralizar verticalmente */
    float: right;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

/* Body */
  
.container {
    display: flex;
    flex-direction: column; /* Mudança aqui para colocar os itens em uma coluna */
    background-color: #262335;
    height: 100vh; 
    width: 100vw; 
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh; /* Adicionando margem superior para separar o cabeçalho das colunas */
    margin-left: 1vw; /* Calculando a margem lateral */
    margin-right: 1vw; /* Calculando a margem lateral */
    margin-bottom: 2vh;
}

#coluna1{
    float: left;
    width: 40%;
}

#coluna2{
    float: right;
    width: 50%;
}

.column {
    width: 45%;
}

#botaoNovaTarefa{
    float: left;
    width: 40%;
    
    background-color: none;
    color:none;
}

#botaoNovoEvento{
    float:left;
    width: 40%;
    margin-left: 2vw;

    background-color: none;
    color:none;
}  

#botaoAudio{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: none;
    color:none;
    font-size: 40px;
}

.button{
    background-color: #D9D9D9;
    border: none;
    color: black;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    justify-content: space-between;
}
.button:hover {
    background-color: #63507B;
    color: #D9D9D9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#coluna2 h1 {
    color: #D9D9D9;
    text-align: center;
    
}

#calendarioBox{
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    display: inline-block;
    width: 100%;
}

.dropTarefa {
    display: none;
    margin-top: 11vh;
}

.dropEvento {
    display: none;
    margin-top: 11vh;
}

.show {
    display: block;
}

.scrollBar{
    height: 500px;
    overflow: auto;
    /*background-color: #241B2F;*/
    background-color: #241B2F;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}