
.signup-container {
    background-color: #262335;
    color: #D9D9D9;
    justify-content: center;
    text-align: center;
    
}

.logo-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 10px; /* Ajuste conforme necessário */
}

.logo img {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    border-radius: 50%;
}

.logo a {
    font-size: 5em; /* Ajuste conforme necessário */
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
}

.singinBox {
    border-radius: 12px;
    background-color: #241B2F;
    color: #D9D9D9;
    height: 60vh; 
    width: 50%;
    margin: 2% auto;
    font-size: large;
    text-align: center;
}

.singinBox input {
    border: 2px solid white;
    background-color: #241B2F;
    border-radius: 12px;
    width: 60%;
    height: 8vh;
    margin: 3% auto;
    display: block;
}


.hoverButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #63507B;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 2px 5px #999;
    width: 30%;
    height: 8vh;
    margin: 3% auto;
}
  
.hoverButton:hover {background-color: #3e8e41}
  
.hoverButton:active {
    background-color: #63507B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}